repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/MaxMatti/treefmt-pre-commit
    rev: v2.4.0.18
    hooks:
      - id: treefmt
        args:
          - --no-cache # to prevent issues with multiple instances running in parallel
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
