name: Pre-commit Action

on:
  pull_request:
  push:

jobs:
  pre-commit-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1
